main {
    padding: 75px 12px 80px 12px;
}

div#Skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

div#softskill,div#hardskill {
    width: 40%;
}

div.skill h2 {
    margin: 4px 2px;
    text-align: center;
    letter-spacing: 0.3rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
div.skill {
    padding: 2px 10px;
    min-height: fit-content;    
    border-radius: 8px;
    margin: 15px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.skill.hard {
    background-color: var(--myRed); 
    animation: cote1 1.5s both; 
}

div.skill.soft {
    background-color: var(--myBlue);
    animation: cote2 1.5s both; 
}

@media only screen and (max-width: 770px) {
    div#Skills {
        width: 100%;
        margin: 12px auto;
        display: block;
    }

    div#softskill,div#hardskill {
        width: 90%;
        margin: 0px 0px;
        padding: 2.5%;
    }
    
    div.skill {
        margin: 15px 0px;
        min-height: 0px;
    }
    main {
        padding: 75px 0px 80px 0px;
    }
    
    div.skill h2 {
        margin: 0px 0px;
        text-align: center;
        letter-spacing: 0.3rem;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 12px;
    }
}


@keyframes cote1 {
    from {
        opacity: 0;
        width: 5%;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes cote2 {
    from {
        opacity: 0;
        width: 5%;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}