header,main {
    width: 70%;
    line-height: inherit;
    margin: 50px;
    animation: aparait 0.7s both;
}

footer {
    position: relative;
}

h2.name, .tiret{
    font-size: 5rem;
    margin: 0;
}

.tiret, h2#age {
    display: inline-block;
    margin-right: 35px;
}

header p {
    font-size: 24px;
    font-weight: 300;
}

.colorRed {
    color: var(--myRed);
    user-select: none;
}

.colorGreen {
    color: var(--myGreen);
    user-select: none;
}

.colorBlue {
    color: var(--myBlue);
    user-select: none;
}

h2#age {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

div#langages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h3.souspartie {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

img.iconL {
    width: 96px;
    opacity: 50%;
    margin: 50px;
    border-radius: 15px;
}

div.littleabout {
    background-color: #F2F2F2;
    border-radius: 25px;
    width: 80%;
    padding: 20px;
    line-height: 28px;
    margin: 0 auto;
}

div.littleabout p {
    font-family: 'Montserrat', sans-serif;
    text-indent: 25px;
}

div.littleabout p strong {
    font-weight: bold;
    color: #2134DF;
}

.separator {
    width: 65%;
    background-color: #F2F2F2;
    height: 4px;
    border-radius: 2px;
    margin: 25px auto;
}

div#projets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

div.projet {
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 25px;
    min-width: 500px;
    margin: 50px;
    flex-grow: 1;
}

@media only screen and (max-width: 1200px) {

    header,main {
        width: 90%;
        margin: 0 auto;
    }
    div.littleabout {
        width: 90%;
        padding: 10px;
    }
    
}

@media only screen and (max-width: 630px) {
    .tiret {
        display: none;
    }

    header,main {
        width: 100%;
        margin: 0 auto;
    }

    header{
        margin-left: 24px;
    }
    div.littleabout div.btn{
       margin: 25px auto;
    }
    
}

#font-text {
    font-family: 'uni_caps', Arial, sans-serif;
    font-size: 8rem;
    transform: rotate(90deg);
    position: absolute;
    top: 350px;
    right: 0px;
    width: 0;
    height: 0;
    user-select: none;
    animation: backgrounds 0.5s both;
    transition: 1s ease-in-out;
}

#font-text h1 {
    z-index: 18;
    position: relative;
    top: -95px;
    right: 175px;
    text-shadow: var(--myGray) 2px 5px 15px;
}

#font-text div#line {
    z-index: 20;
    position: relative;
    top: -455px;
    right: 85px;    
    width: 1650px;
    height: 18px;
    background-color: var(--myOrange);
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    #font-text {
        display: none;
    }    
}

@media only screen and (max-width: 550px) {
    h2.name {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 15px;
    }  

    div.projet {
        min-width: 0px;
        width: 100%;
        background-color: #F2F2F2;
        margin: 25px 4px;
        padding: 8px;
    }
    
    img.iconL {
        width: 75px;
        opacity: 50%;
        margin: 50px;
        border-radius: 15px;
    }

    header,main {
        width: 100%;
        margin: 0px 0px;
    }

    header * {
        margin-left: 10px;
    }

    header p {
        display: none;
    }

    h2#age {
        font-size: 2rem;
        display: block;
        text-align: center;
    }
}

@keyframes backgrounds {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(90deg);
    }
}

@keyframes aparait {
    from {
        opacity: 0;
        margin-top: -100px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}