main {
    margin: 75px auto;
    width: 80%;
}

footer {
    position: relative;
}

div#container {
    min-height: min-content;
    width: 100%;
    border-radius: 12px;
    background-color: #dddddd;
    color: var(--myGray);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.125);
}

div#bar {
    color: #FFFFFF;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 32px;
    width: 100%;
    background-color: rgb(116, 116, 116);
    border-radius: 12px 12px 0px 0px;
}

span.barIcon {
    align-self: auto;
    user-select: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    float: right;
}

span#barclose {
    border-radius: 0px 12px 0px 0px;
    background-color: red;
}

span#barmaxi {
    background-color: rgb(42, 150, 0);
    font-size: 1.2rem;
} 

span#barmin {
    background-color: rgb(142, 202, 0);
    font-size: 1.5rem;
} 

div#header {
    padding: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div#header img {
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.125);
    border: #FFFFFF 4px dashed;
}

div#header h1 {
    font-size: 3.8rem;
}

div#main {
    padding: 45px;
}

/*
TIME LINE
*/
.timeline * {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 15px;
    bottom: 50px;
    left: 50%;
    margin-left: -3px;
    border-radius: 4px;
}

/* Container around content */
.timelinecontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timelinecontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--myOrange); /* Couleur par Default le orange*/
    top: 15px;
    border-radius: 30%; /* Faire arrondit mais pas trop*/
    z-index: 1;
}

.timelinecontainer.bleu::after {
    border: 4px solid var(--myBlue);
}

.timelinecontainer.rouge::after {
    border: 4px solid var(--myRed);
}

/* Place the timelinecontainer to the left */
.gauche {
    left: 0;
}

/* Place the timelinecontainer to the right */
.droite {
    left: 50%;
}

/* Add arrows to the left timelinecontainer (pointing right) */
.gauche::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right timelinecontainer (pointing left) */
.droite::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for timelinecontainers on the right side */
.droite::after {
    left: -16px;
}

/* The actual content */
.containerContenu {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: var(--myGray);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.125);
    animation: arriveT 1s both cubic-bezier(.19,1,.22,1);
}

.containerContenu h2,.containerContenu h3 {
    margin: 4px 4px;
}

.containerContenu h3 {
    font-weight: 100;
    text-transform: none;
}
  
@media screen and (max-width: 1100px) {
    body {
        background-color: var(--myGray);
    }

    main {
        margin: 55px auto 0px auto;
        width: 100%;
        
    }

    div#header {
        padding: 15px;
        flex-direction: column;
    }
    
    div#header img {
        width: 80%;
        max-width: 250px;
    }
    
    div#header h1 {
        text-align: center;
        font-size: 1.9rem;
    }

    div#header h2 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 100;
    }
    
    div#main p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    div#main {
        padding: 15px;
    }

    .timeline::after {
        left: 31px;
    }

    .timelinecontainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 20px;
    }

    .gauche::after, .droite::after {
        left: 15px;
    }

    .droite {
        left: 0%;
    }

    .containerContenu {
        padding: 8px 14px;
    }

    div#bar {
        display: none;
    }   
}

@keyframes arriveT {
    from {
        margin-top: -100px;
    }
    to {
        margin-top: 0px;
    }
}
