ErrorDocument 404 https://mateo-guezennec.fr/
RewriteEngine on

# Si un dossier existe avec le meme nom alors on annule le changement

RewriteCond %{REQUEST_FILENAME} !-d

# Si le fichier n'existe pas alors on annule le changement

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC,L,QSA]